body {     
    background-image: url(Untitled21.png);
    background-size: cover;
    background-repeat: no-repeat;    
    background-position-x: center;
    background-position-y: -30px;
    background-color: #333232; 
}

/* Rectangle 2 */

.navigation {
    position:absolute;  
    width: 100%;
    height: 70px; 
    margin-top: 17px; 
    background-color: #1D1D1D;  
    display: flex; 
    justify-content: center;  
    align-items: center;  
}
.box {
    display: flex;
    justify-content: space-evenly;  
    align-self: center;
    width: 57%;
    margin-left: 30%;
}

.item {
    display: flex;
    justify-self: center;
    align-self: center;
    font-family: 'Poppins', sans-serif;    
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    
}
.about {
    text-decoration: underline;
}
.item:hover {
    color:rgba(163, 162, 162, 0.25);
    text-shadow: gray 3px 5px;
    font-size: 15px;
}

.main {
    display: flex;
    justify-content:space-between;
}

/* Vector 1 */

.one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56%;
    height: 850px;
    left: 0;
    top: 0;
    background: linear-gradient(90.05deg, #3B3B3B 7.66%, #000000 74.62%, rgba(36, 36, 36, 0) 88.59%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    transform: rotate(-90deg);    
} 

.crm {
    position: absolute;
    font-size: 181px;    
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #FFFFFF;
    height: 200px;
    width: 330px;
    letter-spacing: 8px;
    line-height: 260px;
    margin-top: -20px;
    margin-right: -80px;

}
.pl {
    position: absolute;
    font-size: 227px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    letter-spacing: -7px;
    height: 280px;
    width: 320px; 
    margin-top: -240px; 
    margin-right: -90px; 
    
}

/* Logic CRM */

.text {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color:#1d1d1d60;
    width: 42%;
    height: 95%;
    margin-top: 140px;
    margin-left: 630px;
    margin-right: 170px;
}
.textbox {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    margin: 25px;

}
.rights {
    display: flex; 
    
    position: absolute;
    width: 406px;
    height: 21px;
    left: 40%;
    top: 812px;
}
.textrights {
    font-size: 12px;    
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF; 
    margin-bottom: 150px;  
}



